/*---------STANDART STYLES------------*/
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: tahoma;
    font-size: 12px;
    color: #000;
}

@font-face {
    font-family: 'PTRoubleSans';
    src: url('../fonts/rubsn.eot');
    src: url('../fonts/rubsn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rubsn.woff2') format('woff2'),
    url('../fonts/rubsn.woff') format('woff'),
    url('../fonts/rubsn.ttf') format('truetype'),
    url('../fonts/rubsn.svg#PTRoubleSans') format('svg');
}

a {
    color: #000;
}

a:hover {
    text-decoration: none;
}

a, a:hover {
    -webkit-transition: background 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    -moz-transition: background 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    -o-transition: background 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    transition: background 0.1s ease-in-out, border 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

img {
    border: none;
}

input {
    font-family: tahoma;
    font-size: 12px;
}

input[type='text'], input[type='file'], input[type='password'] {
    padding: 5px 10px;
    outline: 0;
    border: 1px solid #d0d4d8;
    -webkit-transition: border ease-in-out 0.2s,box-shadow ease-in-out 0.2s;
    -moz-transition: border ease-in-out 0.2s,box-shadow ease-in-out 0.2s;
    -o-transition: border ease-in-out 0.2s,box-shadow ease-in-out 0.2s;
    transition: border ease-in-out 0.2s,box-shadow ease-in-out 0.2s;
}

input[type='text']:focus, input[type='password']:focus {
    border: 1px solid #869791;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}

textarea {
    font-family: tahoma;
    font-size: 12px;
    padding: 5px 10px;
    height: 70px;
    overflow: auto;
    border: 1px solid #d0d4d8;

    outline: 0;
    -webkit-transition: border ease-in-out 0.2s,box-shadow ease-in-out 0.2s;
    -moz-transition: border ease-in-out 0.2s,box-shadow ease-in-out 0.2s;
    -o-transition: border ease-in-out 0.2s,box-shadow ease-in-out 0.2s;
    transition: border ease-in-out 0.2s,box-shadow ease-in-out 0.2s;
}

textarea:focus{
    border: 1px solid #869791;
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
}

select {
    cursor: pointer;
}

label {
    cursor: pointer;
}

#overflow_div {
    position: relative;
    width: 100%;
    min-width: 1000px;
    min-height: 100%;
    overflow: hidden;

    /*background: #afd9bf;*/
}

.content-wraper {
    position: relative;
}

.content {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    background: #c9f4da;
}

.viewport {
    position: relative;
    overflow: hidden;
}

.overflower {
    width: 105%;
}

.overflower.rightfloating {
    margin-left: -5%;
}

.floatblock {
    float: right;
    padding: 20px 0 40px 0;
}

.floatblock.left {
    width: 250px;
}

.floatblock.center-min {
    width: 500px;
}

.floatblock.center-middle {
    width: 750px;
}

.floatblock.center-full {
    width: 1000px;
}

.floatblock.right {
    width: 250px;
    display: none;
}

.floatblock.padding-right {
    width: 250px;
    margin: 0;
    padding: 0;
    height: 1px;
}

.left .block {
    margin: 0 20px 40px 10px;
}

.right .block {
    margin: 0 10px 40px 20px;
}

.center-min .block, .center-middle .block, .center-full .block {
    margin-bottom: 30px;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

h1, .h1 {
    font-size: 2em;
    margin: 0.67em;
    font-weight: bold;
}

h2, .h2 {
    font-size: 1.5em;
    margin: 0.83em;
    font-weight: bold;
}

h3, .h3 {
    font-size: 1.17em;
    margin: 1em;
    font-weight: bold;
}

h4, .h4 {
    margin: 1.33em;
    font-weight: bold;
}

.left h2, .left .h2 {
    margin: 0 0 15px 0;
}

.right h2, .right .h2 {
    margin: 0 0 15px 0;
}

.center-min > h1, .center-middle > h1, .center-full > h1 {
    margin: 0 0 15px 0;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: #848484;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
}

.button:hover {
    background: #606060;
}

.button:active {
    background: #848484;
}

.placeholder {
    color: #333;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #333;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #333;
    opacity: 1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #333;
    opacity: 1;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #333;
}
/*---------/STANDART STYLES------------*/


/*---------HEADER------------*/
header.content-wraper {
    height: 70px;
    background: #658397;
}

header .content {
    background: #a1d2e8;
}

header .logo {
    float: left;
}

header .contacts {
    float: right;
}
/*---------/HEADER------------*/


/*---------FOOTER------------*/
footer {
    position: relative;
    margin-top: -150px;
    width: 100%;
    min-width: 1000px;
    height: 150px;
    overflow: hidden;
    z-index: 97;

    background: #5e87aa;
}

footer .content {
    background: #73a0c6;
    height: 100%;
}

.hFooter {
    height: 150px;
}

footer .contacts {
    float: left;
}

footer .counter {
    float: left;
}

footer .copyright {
    float: right;
    text-align: right;
}
/*---------/FOOTER------------*/


/*---------FORM------------*/
.item-form-element {
    position: relative;
    margin-bottom: 15px;
    text-align: left;
}

.item-form-element input {
    display: inline-block;
    vertical-align: middle;
}

.item-form-element textarea {
    vertical-align: top;
}

.item-form-element .title {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    padding-right: 15px;
}

.item-form-element .marker {
    position: absolute;
    top: 5px;
    left: -9px;
    color: #F45B28;
}

input.success, .item-form-element.success input {
    background: url('../img/validation-informer-success.png') right center no-repeat #fff;
    border-color: #00cc00;
}

input.success:focus, .item-form-element.success input:focus{
    border-color: #00cc00;
    -webkit-box-shadow: 0 0 2px 0 #009400;
    -moz-box-shadow: 0 0 2px 0  #009400;
    box-shadow: 0 0 2px 0  #009400;
}

input.warning, .item-form-element.warning input {
    background: url('../img/validation-informer-warning.png') right center no-repeat #fff;
    border-color: #FF8F00;
}

input.warning:focus, .item-form-element.warning input:focus{
    border-color: #FF8F00;
    -webkit-box-shadow: 0 0 2px 0  #FF8F00;
    -moz-box-shadow: 0 0 2px 0  #FF8F00;
    box-shadow: 0 0 2px 0  #FF8F00;
}

input.error, .item-form-element.error input {
    background: url('../img/validation-informer-error.png') right center no-repeat #fff;
    border-color: #cc0000;
}

input.error:focus, .item-form-element.error input:focus{
    border-color: #cc0000;
    -webkit-box-shadow: 0 0 2px 0 #cc0000;
    -moz-box-shadow: 0 0 2px 0 #cc0000;
    box-shadow: 0 0 2px 0 #cc0000;
}

textarea.success, .item-form-element.success textarea {
    background: url('../img/validation-informer-success.png') right 1px no-repeat #fff;
    border-color: #00cc00;
}

textarea.success:focus, .item-form-element.success textarea:focus{
    border-color: #00cc00;
    -webkit-box-shadow: 0 0 2px 0 #009400;
    -moz-box-shadow: 0 0 2px 0  #009400;
    box-shadow: 0 0 2px 0  #009400;
}

textarea.warning, .item-form-element.warning textarea {
    background: url('../img/validation-informer-warning.png') right 1px no-repeat #fff;
    border-color: #FF8F00;
}

textarea.warning:focus, .item-form-element.warning textarea:focus{
    border-color: #FF8F00;
    -webkit-box-shadow: 0 0 2px 0  #FF8F00;
    -moz-box-shadow: 0 0 2px 0  #FF8F00;
    box-shadow: 0 0 2px 0  #FF8F00;
}

textarea.error, .item-form-element.error textarea {
    background: url('../img/validation-informer-error.png') right 1px no-repeat #fff;
    border-color: #cc0000;
}

textarea.error:focus, .item-form-element.error textarea:focus{
    border-color: #cc0000;
    -webkit-box-shadow: 0 0 2px 0 #cc0000;
    -moz-box-shadow: 0 0 2px 0 #cc0000;
    box-shadow: 0 0 2px 0 #cc0000;
}

/*всплывающее сообщение*/
.item-form-element .validation-informer {
    margin-top: 9px;
    position: relative;
    display: none;
}

.item-form-element.error .validation-informer, .item-form-element.warning .validation-informer {
    display: block;
}

.item-form-element .validation-informer span {
    position: relative;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    background: #FFF7BD;
    border: 1px solid #F0F0B0;
    text-align: center;
}

.item-form-element .validation-informer span:before {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #FFF7BD;
}

form .status_message {
    display: none;
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #F0F0B0;
    background: #FFF7BD;
}

/*форма заказа товара*/
.form-zakaz-item {
    width: 220px;
    text-align: center;
    display: inline-block;
}

.form-zakaz-item .img-container {
    position: relative;
    margin: 0 auto;
    width: 150px;
    height: 150px;
}

.form-zakaz-item .img-container img {
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.form-zakaz-item .title {
    width: 220px;
}
/*---------/FORM------------*/


/*---------ВСПЛЫВАЮЩЕЕ ОКНО------------*/
.window {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    text-align: center;
    vertical-align: middle;
    z-index: 98;
}

.window-popup-overflower {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/opacity.png');
}

.window .window_body {
    position: relative;
    vertical-align: middle;
    text-align: left;
    display: inline-block;
    background: #fff;
    border-radius: 9px;
    border: 1px solid #ccc;
    padding: 20px 30px;
}

.window .window_body .content {
    width: auto;
    background: #fff;
    text-align: center;
}

.window .close {
    display: none;
    cursor: pointer;
    position: absolute;
    right: -12px;
    top: -12px;

    width: 25px;
    height: 25px;
    line-height: 23px;

    color: #555555;
    font-family: tahoma;
    font-size: 15px;
    font-weight: bold;
    text-align: center;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 1px 1px rgba(22, 22, 22, .3), inset 0 0 0 2px rgba(246, 246, 246, .5);
    -moz-box-shadow: 0 1px 1px rgba(22, 22, 22, .3), inset 0 0 0 2px rgba(246, 246, 246, .5);
    box-shadow: 0 1px 1px rgba(22, 22, 22, .3), inset 0 0 0 2px rgba(246, 246, 246, .5);
    border: solid 1px #a8adb3;
    background-color: #b7bec5;
    background-image: -webkit-linear-gradient(bottom, #b7bec5, #e4e8ed);
    background-image: -moz-linear-gradient(bottom, #b7bec5, #e4e8ed);
    background-image: -o-linear-gradient(bottom, #b7bec5, #e4e8ed);
    background-image: -ms-linear-gradient(bottom, #b7bec5, #e4e8ed);
    background-image: linear-gradient(to top, #b7bec5, #e4e8ed);
}

.window .close:hover {
    background-color: #e4e8ed;
    background-image: -webkit-linear-gradient(top, #b7bec5, #e4e8ed);
    background-image: -moz-linear-gradient(top, #b7bec5, #e4e8ed);
    background-image: -o-linear-gradient(top, #b7bec5, #e4e8ed);
    background-image: -ms-linear-gradient(top, #b7bec5, #e4e8ed);
    background-image: linear-gradient(to bottom, #b7bec5, #e4e8ed);
}

.window .close:active {
    background-color: #b7bec5;
    background-image: -webkit-linear-gradient(bottom, #b7bec5, #e4e8ed);
    background-image: -moz-linear-gradient(bottom, #b7bec5, #e4e8ed);
    background-image: -o-linear-gradient(bottom, #b7bec5, #e4e8ed);
    background-image: -ms-linear-gradient(bottom, #b7bec5, #e4e8ed);
    background-image: linear-gradient(to top, #b7bec5, #e4e8ed);
}

.window .close.show {
    display: block;
}

.window.show {
    display: inline-block;
}

.window.show .window_body {

}

.window form > .h2 {
    text-align: center;
    margin-top: 0;
}

.window .button.close-btn{
    display: block;
    width: 80px;
    margin: 15px auto 0 auto;
    text-transform: uppercase;
}

.window .form-input-warning{
    margin-bottom: 15px;
}
/*---------/ВСПЛЫВАЮЩЕЕ ОКНО------------*/


/*--------- WIDGET-PHONE ------------*/
.widget-phone {
    display: none;
    position: fixed;
    width: 200px;
    height: 200px;
    cursor: pointer;
    z-index: 100;
    opacity: .6;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    bottom: 50px;
    right: 14%;
}

.widget-phone .widget-phone-circle{
    border: 2px solid #00aff2;
    opacity: .5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);

    -webkit-animation: widget-phone-circle-anim 2.2s infinite ease-in-out;
    -moz-animation: widget-phone-circle-anim 2.2s infinite ease-in-out;
    -ms-animation: widget-phone-circle-anim 2.2s infinite ease-in-out;
    -o-animation: widget-phone-circle-anim 2.2s infinite ease-in-out;
    animation: widget-phone-circle-anim 2.2s infinite ease-in-out;

    width: 160px;
    height: 160px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.widget-phone .widget-phone-circle-fill{
    background-color: #00aff2;
    opacity: .75;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);

    -webkit-animation: widget-phone-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: widget-phone-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: widget-phone-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: widget-phone-circle-fill-anim 2.3s infinite ease-in-out;
    animation: widget-phone-circle-fill-anim 2.3s infinite ease-in-out;

    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid transparent;
}

.widget-phone .widget-phone-img{
    opacity: 0.7;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: url('../img/widget-phone.png') center no-repeat #00aff2;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid transparent;
}

.widget-phone:hover{
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

.widget-phone:hover .widget-phone-circle{
    border: 2px solid #75eb50;

    -webkit-animation: widget-phone-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: widget-phone-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: widget-phone-circle-anim 1.2s infinite ease-in-out;
    -o-animation: widget-phone-circle-anim 1.2s infinite ease-in-out;
    animation: widget-phone-circle-anim 1.2s infinite ease-in-out;
}

.widget-phone:hover .widget-phone-circle-fill{
    background-color: #75eb50;
    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}

.widget-phone:hover .widget-phone-img{
    opacity: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    background-color: #75eb50;
    -webkit-animation: widget-phone-img-anim 1s infinite ease-in-out;
    -moz-animation: widget-phone-img-anim 1s infinite ease-in-out;
    -ms-animation: widget-phone-img-anim 1s infinite ease-in-out;
    -o-animation: widget-phone-img-anim 1s infinite ease-in-out;
    animation: widget-phone-img-anim 1s infinite ease-in-out;
}

.widget-phone-popup{
    display: none;
    padding: 15px 20px;
    width: 300px;
}

.widget-phone-popup .text{
    font-size: 16px;
    margin-bottom: 15px;
}

.widget-phone-popup .item-form-element input{
    box-sizing: border-box;
    width: 100%;
}

.widget-phone-popup .button{
    display: block;
}

/*netcat*/
.widget-phone-form{
    padding: 15px 20px;
    width: 300px;
}

.widget-phone-form .h2{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: normal;
}

.widget-phone-form .item-form-element input,
.widget-phone-form .item.phone input{
    box-sizing: border-box;
    width: 100%;
}

.widget-phone-form .item-form-element .title,
.widget-phone-form .item.phone span{
    display: none;
}

.widget-phone-form .button{
    display: block;
}

@-moz-keyframes widget-phone-circle-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1;
        -moz-opacity: .1;
        -webkit-opacity: .1;
        -o-opacity: .1
    }
    30% {
        -moz-transform: rotate(0deg) scale(.7) skew(1deg);
        opacity: .5;
        -moz-opacity: .5;
        -webkit-opacity: .5;
        -o-opacity: .5
    }
    100% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .6;
        -moz-opacity: .6;
        -webkit-opacity: .6;
        -o-opacity: .1
    }
}

@-webkit-keyframes widget-phone-circle-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.5) skew(1deg);
        -webkit-opacity: .1
    }
    30% {
        -webkit-transform: rotate(0deg) scale(.7) skew(1deg);
        -webkit-opacity: .5
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        -webkit-opacity: .1
    }
}

@-o-keyframes widget-phone-circle-anim {
    0% {
        -o-transform: rotate(0deg) scale(0.5) skew(1deg);
        -o-opacity: .1
    }
    30% {
        -o-transform: rotate(0deg) scale(.7) skew(1deg);
        -o-opacity: .5
    }
    100% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        -o-opacity: .1
    }
}

@keyframes widget-phone-circle-anim {
    0% {
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0deg) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes widget-phone-circle-fill-anim {
    0% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        -moz-transform: rotate(0deg) -moz-scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -moz-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes widget-phone-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -webkit-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes widget-phone-circle-fill-anim {
    0% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        -o-transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        -o-transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@keyframes widget-phone-circle-fill-anim {
    0% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: .2
    }
}

@keyframes widget-phone-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-moz-keyframes widget-phone-img-anim {
    0% {
        transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -moz-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -moz-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        -moz-transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-webkit-keyframes widget-phone-img-anim {
    0% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        -webkit-transform: rotate(0deg) scale(1) skew(1deg)
    }
}

@-o-keyframes widget-phone-img-anim {
    0% {
        -o-transform: rotate(0deg) scale(1) skew(1deg)
    }
    10% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        -o-transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        -o-transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        -o-transform: rotate(0deg) scale(1) skew(1deg)
    }
    100% {
        -o-transform: rotate(0deg) scale(1) skew(1deg)
    }
}
/*--------- /WIDGET-PHONE ------------*/



